#recuadro1{
    border-radius: 15px;
    background-color: white;
    box-shadow: 0px 0px 5px blue;
    width: 1px;
    padding: 5px;
}
body{
    background:white;
    margin: 50px;
}
.success{
    color: white;
    border: greenyellow;
    background: greenyellow;
    border-radius: 20px;
    width: 120px;
    padding: 10px;
}
#recuadro2{
    border-radius: 5px;
    background-color: skyblue;
    width: 500px;
    padding: 10px;
}
.success1{
    color: white;
    border: blue;
    background: rgb(13, 109, 165);
    width: auto;
    height: 10;
    padding: 10px;
    -webkit-text-size-adjust: auto
­}